*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
0-600px:      Phone
600px-900px:  Tablet portrait
900px-1200px: Tablet Landscapte
1800px + :    Big Desktop  */
html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 40%;
  }
}

#App {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col-start] minmax(min-content, 10rem) [col-end])[14];
      grid-template-columns: repeat(14, [col-start] minmax(-webkit-min-content, 10rem) [col-end]);
      grid-template-columns: repeat(14, [col-start] minmax(min-content, 10rem) [col-end]);
  -ms-grid-rows: 10rem 73rem 30rem 20rem 40rem 50rem 80rem 50rem 43rem 100vh 50rem;
      grid-template-rows: 10rem 73rem 30rem 20rem 40rem 50rem 80rem 50rem 43rem 100vh 50rem;
}

@media (max-width: 75em) {
  #App {
    -ms-grid-rows: 10rem 50rem 30rem 20rem 40rem 50rem 80rem 48rem 43rem 75vh 50rem;
        grid-template-rows: 10rem 50rem 30rem 20rem 40rem 50rem 80rem 48rem 43rem 75vh 50rem;
  }
}

@media (max-width: 56.25em) {
  #App {
    -ms-grid-rows: 10rem 50rem 30rem 30rem 50rem 50rem 92rem 48rem 60rem 90vh 60rem;
        grid-template-rows: 10rem 50rem 30rem 30rem 50rem 50rem 92rem 48rem 60rem 90vh 60rem;
  }
}

@media (max-width: 43.75em) {
  #App {
    -ms-grid-columns: minmax(50rem, 108rem);
        grid-template-columns: minmax(50rem, 108rem);
    -ms-grid-rows: 55rem 200rem 100rem (max-content)[8];
        grid-template-rows: 55rem 200rem 100rem repeat(8, -webkit-max-content);
        grid-template-rows: 55rem 200rem 100rem repeat(8, max-content);
  }
}

@media (max-width: 37.5em) {
  #App {
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -ms-grid-rows: 30rem 100vh;
        grid-template-rows: 30rem 100vh;
  }
}

.navbar {
  background-color: #f4f4f4;
  grid-column: col-start 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}

@media (max-width: 75em) {
  .navbar {
    font-size: 1.8rem;
  }
}

@media (max-width: 56.25em) {
  .navbar {
    gap: 0rem;
  }
}

@media (max-width: 43.75em) {
  .navbar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 3rem;
    position: relative;
  }
}

@media (max-width: 37.5em) {
  .navbar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 3rem;
    position: relative;
  }
}

.navbar__left {
  margin-right: 4rem;
  font-weight: 500;
}

.navbar__left--name {
  font-weight: 900;
  cursor: pointer;
}

@media (max-width: 43.75em) {
  .navbar__left--name {
    font-size: 5rem;
  }
}

@media (max-width: 43.75em) {
  .navbar__left p {
    font-size: 5rem;
    font-weight: 500;
  }
}

.navbar__left--position {
  background-color: yellow;
  font-size: 4rem;
  font-weight: 900;
}

@media (max-width: 56.25em) {
  .navbar__left {
    font-size: 3rem;
    word-spacing: 4px;
  }
}

.navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  gap: 1.2rem;
}

.navbar__right--menu {
  display: none;
  position: absolute;
  top: 15%;
  right: 10%;
  background-color: black;
  color: white;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  line-height: 1;
  text-align: center;
}

@media (max-width: 75em) {
  .navbar__right--menu {
    display: inline-block;
    top: 3%;
    right: 2%;
  }
}

@media (max-width: 56.25em) {
  .navbar__right--menu {
    display: inline-block;
    top: 2%;
    right: 2%;
  }
}

@media (max-width: 43.75em) {
  .navbar__right--menu {
    width: 15rem;
    height: 15rem;
    top: 10%;
  }
}

.navbar__right--menu span {
  display: inline-block;
  margin-top: 1.2rem;
}

@media (max-width: 43.75em) {
  .navbar__right--menu span {
    margin-top: 2.3rem;
    font-size: 5rem;
  }
}

@media (max-width: 75em) {
  .navbar__right {
    width: 30%;
  }
}

@media (max-width: 56.25em) {
  .navbar__right {
    width: 40%;
  }
}

@media (max-width: 43.75em) {
  .navbar__right {
    width: 25%;
    margin-right: 4rem;
  }
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 2rem;
  list-style: none;
  margin-right: 2rem;
}

.navbar__links > * {
  cursor: pointer;
}

@media (max-width: 75em) {
  .navbar__links {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .navbar__links {
    display: none;
  }
}

.navbar__social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__social .icon {
  font-size: 1.5rem;
}

.navbar__social > * {
  cursor: pointer;
  font-size: 2.4rem;
}

@media (max-width: 43.75em) {
  .navbar__social > * {
    font-size: 7rem;
    font-weight: 900;
  }
}

.navbar__social li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}

@media (max-width: 75em) {
  .navbar__social li:nth-child(1) {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .navbar__social li:nth-child(1) {
    display: none;
  }
}

@media (max-width: 75em) {
  .navbar__social {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 2rem;
  }
}

@media (max-width: 56.25em) {
  .navbar__social {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 43.75em) {
  .navbar__social {
    gap: 3rem;
    margin-left: 4.3rem;
  }
}

.hero {
  background-color: #f4f4f4;
  grid-column: col-start 1 /-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8rem;
}

@media (max-width: 43.75em) {
  .hero {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.hero__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  word-spacing: -1px;
}

@media (max-width: 43.75em) {
  .hero__text {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.hero__text--container {
  position: absolute;
  top: 30%;
  left: 25%;
}

@media (max-width: 75em) {
  .hero__text--container {
    top: 20%;
    left: 25%;
  }
}

.hero__text--container .span-main {
  font-size: 7rem;
  font-weight: 500;
}

@media (max-width: 43.75em) {
  .hero__text--container .span-main {
    font-size: 6rem;
  }
}

.hero__text--container .span-1 {
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.hero__text--container .span-2 {
  font-weight: 800;
}

.hero__text--container .span-4 {
  font-weight: 800;
}

.hero__text--container .span-6 {
  font-weight: 800;
  background-color: yellow;
}

@media (max-width: 43.75em) {
  .hero__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__image {
  max-width: 100rem;
  max-height: 100rem;
}

@media (max-width: 75em) {
  .hero__image {
    max-width: 50rem;
    max-height: 50rem;
  }
}

@media (max-width: 43.75em) {
  .hero__image {
    width: 100rem;
    height: 100rem;
  }
}

.thisMe {
  grid-column: col-start 1 / col-start 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  margin-top: 6rem;
  width: 104%;
  height: 16rem;
  background-color: yellow;
  position: relative;
}

@media (max-width: 56.25em) {
  .thisMe {
    grid-column: col-start 1 / col-start 12;
  }
}

@media (max-width: 43.75em) {
  .thisMe {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.thisMe p {
  font-size: 4.3rem;
  position: absolute;
  left: 10%;
  top: -20%;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.thisMe p span {
  font-weight: 700;
  font-family: sans-serif;
}

.thisMe__text {
  grid-column: col-start 4 / col-end 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  line-height: 2;
  font-size: 1.8rem;
}

@media (max-width: 56.25em) {
  .thisMe__text {
    font-size: 2.3rem;
    grid-column: col-start 6 / col-end 13;
  }
}

@media (max-width: 43.75em) {
  .thisMe__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.skills__text {
  grid-column: col-start 4 / col-end 8;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  line-height: 2;
  letter-spacing: 1px;
}

@media (max-width: 56.25em) {
  .skills__text {
    grid-column: col-start 6 / col-end 14;
    font-size: 4rem;
  }
}

@media (max-width: 43.75em) {
  .skills__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.skills__text--para .span-1 {
  background-color: black;
  color: white;
}

.skills__text--para .span-2 {
  background-color: #e0e0e0;
}

.skills__text--para .span-3 {
  background-color: black;
  color: white;
}

.skills__text--para .span-4 {
  background-color: #e0e0e0;
}

.skills__text--para .span-5 {
  background-color: black;
  color: white;
}

.skills__text .button {
  text-decoration: none;
  border: 1px solid black;
  display: inline-block;
  margin-top: 3.3rem;
  font-size: 1.5rem;
  padding: 0.7rem 2.3rem;
  color: black;
  font-weight: 600;
}

.second__img {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  grid-column: col-start 11 / -1;
}

@media (max-width: 43.75em) {
  .second__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.second__img .second__image {
  max-width: 55rem;
  max-height: 55rem;
}

@media (max-width: 75em) {
  .second__img .second__image {
    max-width: 54rem;
    max-height: 54rem;
  }
}

.getInTouch {
  padding: 8rem 7rem;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  grid-column: col-start 3 / col-end 10;
  background-color: #f4f4f4;
  width: 105%;
  position: relative;
}

@media (max-width: 56.25em) {
  .getInTouch {
    grid-column: col-start 5 / col-end 12;
  }
}

@media (max-width: 43.75em) {
  .getInTouch {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.getInTouch__heading h2 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

@media (max-width: 56.25em) {
  .getInTouch__heading h2 {
    font-size: 6rem;
  }
}

.getInTouch__heading h2 span {
  font-weight: 900;
}

.getInTouch__para-1 {
  font-size: 1.7rem;
  line-height: 1.9;
  margin-top: 3rem;
}

@media (max-width: 75em) {
  .getInTouch__para-1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 75em) {
  .getInTouch__para-1 {
    font-size: 2rem;
  }
}

.getInTouch__para-2 {
  margin-top: 3rem;
  font-size: 1.7rem;
  line-height: 1.9;
}

@media (max-width: 75em) {
  .getInTouch__para-2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 56.25em) {
  .getInTouch__para-2 {
    font-size: 2rem;
  }
}

.getInTouch__yellow {
  width: 10rem;
  background-color: yellow;
  position: absolute;
  left: 95%;
  height: 95%;
}

.client {
  width: 120%;
  height: 40%;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  grid-column: col-start 1 / col-end 7;
  margin-top: 19rem;
  background-color: yellow;
  position: relative;
}

@media (max-width: 56.25em) {
  .client {
    grid-column: col-start 1 / col-end 9;
  }
}

@media (max-width: 43.75em) {
  .client {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.client p {
  font-size: 5rem;
  position: absolute;
  top: -42%;
  left: 10%;
  font-family: poppins;
  line-height: 1.1;
}

.client p span {
  font-family: poppins;
  font-weight: 700;
}

.investor {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  grid-column: col-start 2 / col-end 13;
  background-color: black;
  margin-top: -1rem;
  padding: 7rem 5rem 5rem;
  color: white;
}

@media (max-width: 56.25em) {
  .investor {
    margin-top: 1rem;
  }
}

@media (max-width: 43.75em) {
  .investor {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.investor__para {
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 1.6rem;
  line-height: 2;
}

@media (max-width: 56.25em) {
  .investor__para {
    font-size: 2.1rem;
  }
}

.investor__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto 0;
  width: 100%;
  height: 100%;
}

.investor__list .first-item {
  letter-spacing: 1.8px;
  font-size: 2rem;
}

.investor__list .second-item .cloud {
  width: 100%;
}

.investor__list .third-item {
  border: 1px solid white;
  padding: 2.7rem 2.7rem;
  font-size: 1.9rem;
  letter-spacing: 3px;
}

.investor__list .fourth-item {
  font-size: 3rem;
}

.investor__list .fifth-item {
  border: 1px solid white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: relative;
}

.investor__list .fifth-item span {
  position: absolute;
  top: 30%;
  left: -8%;
  z-index: 1;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: "Italianno", cursive;
  white-space: nowrap;
}

.blogPost {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  grid-column: col-start 1 / -1;
  width: 70%;
  margin: 4.5rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 4.5rem;
}

@media (max-width: 43.75em) {
  .blogPost {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.blogPost__heading {
  text-align: center;
  font-size: 5.2rem;
  font-family: poppins;
  font-weight: 300;
}

.blogPost__heading span {
  font-weight: 800;
}

.blogPost__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.post {
  width: 30rem;
  height: 30rem;
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.post:hover .post__name--heading {
  color: yellow;
}

.post__date {
  margin: 2rem 0 16rem 2rem;
  font-size: 1.3rem;
}

.post__name {
  font-size: 2.3rem;
  border-bottom: 1px solid white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}

.post__name--heading {
  padding-left: 0.7rem;
  padding-bottom: 1rem;
}

.post__likes--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  margin: 0 2rem;
  list-style: none;
}

.subscribe {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11 / 12;
  grid-column: col-start 1 / -1;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 5rem;
  margin-top: 10rem;
  padding: 10rem 0rem;
  margin-bottom: 7rem;
}

@media (max-width: 43.75em) {
  .subscribe {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.subscribe__heading {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 800;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-transform: translateX(-20rem);
          transform: translateX(-20rem);
}

.subscribe__form .label {
  display: block;
  font-size: 1.8rem;
}

.subscribe__form .label span {
  color: yellow;
}

.subscribe__form input {
  display: block;
  width: 330%;
  padding: 1rem 0;
  background-color: black;
  border: 1px solid white;
  color: white;
}

.subscribe__form .button {
  background-color: yellow;
  width: 330.5%;
  border: none;
  font-size: 1.9rem;
  font-family: cursive;
  font-weight: 500;
  padding: 0.5rem 0;
}

.subscribe__copyright {
  font-size: 1.5rem;
}

.button:link, .button:visited {
  text-decoration: none;
  border: 1px solid black;
  margin-top: 3rem;
  padding: 1.4rem 5rem;
  display: inline-block;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.8rem;
}

.button:hover {
  background-color: black;
  color: white;
}

.chatBox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 7rem;
  background-color: white;
}

.chatBox__icon {
  position: fixed;
  bottom: 8rem;
  right: 1.6rem;
  color: white;
  background-color: black;
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  cursor: pointer;
}

/*   @include respond(phone) {
    flex-direction: column-reverse;
  }
    @include respond(phone) {
      width: 100%;
    }
    @include respond(phone) {
      display: none;
    }
     @include respond(phone) {
        font-size: 8rem;
      }
     @include respond(phone) {
        display: none;
      }
    @include respond(phone) {
      width: 100%;
      flex: 0;
      gap: 3rem;
    } */
/*# sourceMappingURL=index.css.map */