//Basic Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Media Query Manager

/*
0-600px:      Phone
600px-900px:  Tablet portrait
900px-1200px: Tablet Landscapte
1800px + :    Big Desktop  */
@mixin respond($breakpoint) {
  @if $breakpoint==tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint==tab-land-s {
    @media (max-width: 57.5em) {
      //920px
      @content;
    }
  }
  @if $breakpoint==tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint==tab-port-s {
    @media (max-width: 49.375em) {
      //790px
      @content;
    }
  }
  @if $breakpoint==tab-port-vs {
    @media (max-width: 45.625em) {
      //730px
      @content;
    }
  }

  @if $breakpoint==phone-vb {
    @media (max-width: 43.75em) {
      //700px
      @content;
    }
  }
  @if $breakpoint==phone-b {
    @media (max-width: 41.25em) {
      //660px
      @content;
    }
  }
  @if $breakpoint==phone-m {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint==phone-s {
    @media (max-width: 34.375em) {
      //550px
      @content;
    }
  }
  @if $breakpoint==phone-vs {
    @media (max-width: 31.25em) {
      //500px
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media (max-width: 28.125em) {
      //450px
      @content;
    }
  }
  @if $breakpoint==mobile-s {
    //405px
    @media (max-width: 25.3125em) {
      @content;
    }
  }
  @if $breakpoint==mobile-vs {
    //390px
    @media (max-width: 24.375em) {
      @content;
    }
  }
  @if $breakpoint==big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 50%; //8px
  }
  @include respond(tab-port) {
    font-size: 40%; //5px
  }
}

//Variables

$color-navbar: rgb(244, 244, 244);

//Grid
#App {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(
    14,
    [col-start] minmax(min-content, 10rem) [col-end]
  );
  //***********************************************
  grid-template-rows: 10rem 73rem 30rem 20rem 40rem 50rem 80rem 50rem 43rem 100vh 50rem;
  //********************************************

  @include respond(tab-land) {
    //1200px
    grid-template-rows: 10rem 50rem 30rem 20rem 40rem 50rem 80rem 48rem 43rem 75vh 50rem;
  }
  @include respond(tab-land-s) {
    grid-template-rows: 10rem 75rem 35rem 25rem 45rem 50rem 110rem 48rem 50rem 75vh 50rem;
  }
  @include respond(tab-port) {
    //900px
    grid-template-rows: 10rem 50rem 30rem 30rem 50rem 50rem 92rem 48rem 60rem 70vh 60rem;
  }
  @include respond(tab-port-s) {
    //790px
    grid-template-rows: 13rem 60rem 30rem 30rem 50rem 50rem 92rem 48rem 60rem 70vh 60rem;
  }
  @include respond(tab-port-vs) {
    //730px
    grid-template-rows: 14rem 60rem 30rem 30rem 50rem 50rem 92rem 48rem 60rem 70vh 60rem;
  }
  @include respond(phone-vb) {
    //700px
    grid-template-columns: minmax(50rem, 108rem);
    grid-template-rows: 55rem 170rem 30rem 25rem 56rem max-content 100rem 60rem 65rem max-content max-content;
  }

  @include respond(phone-b) {
    //660px
    grid-template-columns: minmax(50rem, 108rem);
    grid-template-rows: 55rem 170rem 30rem 25rem 56rem max-content 100rem 60rem 65rem max-content max-content;
  }
  @include respond(phone-s) {
    //550px
    grid-template-columns: minmax(50rem, 108rem);
    grid-template-rows: 55rem 110rem 30rem 25rem 56rem max-content 100rem 50rem 65rem max-content max-content;
  }
  @include respond(phone-vs) {
    //500px
    grid-template-columns: minmax(50rem, 108rem);
    grid-template-rows: 55rem 110rem 30rem 30rem 58rem max-content 109rem 50rem 65rem max-content max-content;
  }
  @include respond(mobile) {
    //450px
    grid-template-columns: minmax(50rem, 108rem);
    grid-template-rows: 55rem 110rem 30rem 30rem 58rem max-content 100rem 42rem 65rem max-content max-content;
  }
  @include respond(mobile-s) {
    //405px
    grid-template-columns: minmax(50rem, 108rem);
    grid-template-rows: 55rem 110rem 30rem 30rem 58rem max-content 100rem 35rem 65rem max-content max-content;
  }
}

//Navbar
.navbar {
  background-color: $color-navbar;
  grid-column: col-start 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  @include respond(tab-land) {
    font-size: 1.8rem;
  }
  @include respond(tab-land-s) {
    gap: 0rem;
  }
  @include respond(tab-port) {
    gap: 0rem;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 3rem;
    position: relative;
  }

  // @include respond(phone-b) {
  //   grid-column: 1 / 2;
  //   grid-row: 1 / 2;
  //   flex-direction: column-reverse;
  //   justify-content: space-evenly;
  //   align-items: flex-start;
  //   padding-left: 3rem;
  //   position: relative;
  // }

  &__left {
    margin-right: 4rem;
    font-weight: 500;
    // @include respond(phone-m) {
    //   margin-top: -15rem;
    // }
    @include respond(tab-port) {
      margin-right: 0;
      margin-left: 2rem;
      font-size: 3rem;
      word-spacing: 4px;
    }
    @include respond(tab-port-s) {
      font-size: 2.2rem;
    }
    &--name {
      font-weight: 900;
      cursor: pointer;

      @include respond(phone-vb) {
        font-size: 5rem;
      }
    }
    p {
      @include respond(phone-vb) {
        font-size: 5rem;
        font-weight: 500;
      }
    }
    &--position {
      background-color: yellow;
      font-size: 4rem;
      font-weight: 900;
    }
  }
  &__right {
    display: flex;
    width: 40%;
    gap: 1.2rem;
    &--menu {
      display: none;
      position: absolute;
      top: 15%;
      right: 10%;
      background-color: black;
      color: white;
      width: 6rem;
      height: 6rem;
      cursor: pointer;
      line-height: 1;
      text-align: center;
      @include respond(tab-land) {
        display: inline-block;
        top: 3%;
        right: 2%;
      }
      @include respond(tab-port) {
        display: inline-block;
        top: 2%;
        right: 2%;
      }
      @include respond(tab-port-vs) {
        display: inline-block;
        top: 3.9%;
        right: 1.5%;
      }
      @include respond(phone-vb) {
        width: 11rem;
        height: 11rem;
        top: 12.5%;
      }
      @include respond(phone-vb) {
        width: 9rem;
        height: 9rem;
        top: 12%;
      }
      span {
        display: inline-block;
        margin-top: 1.2rem;
        @include respond(phone-vb) {
          margin-top: 0.65rem;
          font-size: 4rem;
        }
      }

      // @include respond(phone-m) {
      //   display: inline-block;
      // }
    }
    @include respond(tab-land) {
      width: 30%;
    }
    @include respond(tab-port) {
      width: 40%;
    }
    @include respond(phone-vb) {
      width: 25%;
      margin-right: 4rem;
    }
  }

  &__links {
    display: flex;
    width: 50%;
    gap: 2rem;
    list-style: none;
    margin-right: 2rem;
    & > * {
      cursor: pointer;
    }
    @include respond(tab-land) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }
    // @include respond(phone-m) {
    //   display: none;
    // }
  }

  &__social {
    .icon {
      font-size: 1.5rem;
    }
    & > * {
      cursor: pointer;
      font-size: 2.4rem;
      @include respond(phone-vb) {
        font-size: 7rem;
        font-weight: 900;
      }
      @include respond(phone-b) {
        font-size: 7rem;
        font-weight: 900;
      }
    }
    li:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      @include respond(tab-land) {
        display: none;
      }
      @include respond(tab-port) {
        display: none;
      }
    }
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include respond(tab-land) {
      width: 100%;
      flex: 1;
      justify-content: space-evenly;
      margin-right: 2rem;
    }
    @include respond(tab-port) {
      width: 100%;
      flex: 1;
      justify-content: space-evenly;
    }
    @include respond(tab-port-vs) {
      width: 100%;
      flex: 0;
      justify-content: stretch;
      gap: 4.5rem;
      margin-left: 5.5rem;
    }
    @include respond(phone-vb) {
      gap: 3rem;
      margin-left: 4.3rem;
    }
    @include respond(phone-b) {
      gap: 3rem;
      margin-left: 4.3rem;
    }
    @include respond(phone-s) {
      margin-left: 4rem;
    }
    @include respond(phone-vs) {
      margin-left: 1rem;
    }
  }
}

//Hero

.hero {
  background-color: $color-navbar;
  grid-column: col-start 1 /-1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    flex-direction: column-reverse;
    justify-content: start;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
    flex-direction: column-reverse;
    justify-content: start;
  }
  &__text {
    flex: 1;
    position: relative;
    word-spacing: -1px;
    @include respond(phone-vb) {
      flex-grow: 0;
    }
    @include respond(phone-b) {
      flex-grow: 0;
    }
    &--container {
      position: absolute;
      top: 30%;
      left: 25%;
      @include respond(tab-land) {
        top: 20%;
        left: 25%;
      }
      @include respond(tab-land-s) {
        top: 25%;
        left: 25%;
      }
      @include respond(phone-vs) {
        position: static;
        text-align: center;
      }
      // @include respond(mobile) {
      //   position: static;
      //   text-align: center;
      // }
      .span-main {
        font-size: 7rem;
        font-weight: 500;
        @include respond(phone-vb) {
          font-size: 6rem;
        }
        @include respond(phone-b) {
          font-size: 6rem;
        }
        @include respond(phone-vs) {
          font-size: 5rem;
        }
      }
      .span-1 {
        font-weight: 100;
        font-family: "Poppins", sans-serif;
      }
      .span-2 {
        font-weight: 800;
      }

      .span-4 {
        font-weight: 800;
      }

      .span-6 {
        font-weight: 800;
        background-color: yellow;
      }
    }
  }
  &__img {
    @include respond(phone-vb) {
      grid-column: 1 / 2;
      width: 90%;
      height: 70%;
      margin: 0 auto;
    }
    @include respond(phone-b) {
      grid-column: 1 / 2;
      width: 80%;
      height: 70%;
      margin: 0 auto;
    }
    @include respond(phone-s) {
      height: 60%;
      width: 70%;
      margin: 0 auto;
    }
    @include respond(phone-vs) {
      height: 67%;
      width: 87%;
      margin: 0 auto;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    @include respond(tab-land) {
      max-width: 50rem;
      max-height: 50rem;
    }
    @include respond(phone-vb) {
      display: inline-block;
      margin-left: auto;
      max-width: 200%;
      max-height: 150%;
    }
    @include respond(phone-b) {
      display: inline-block;
      margin-left: auto;
      max-width: 200%;
      max-height: 150%;
    }
    @include respond(phone-s) {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

//ThisIsMe

.thisMe {
  grid-column: col-start 1 / col-start 9;
  grid-row: 3 / 4;
  margin-top: 6rem;
  width: 104%;
  height: 16rem;
  background-color: yellow;
  position: relative;
  @include respond(tab-land-s) {
    grid-column: col-start 1 / col-end 11;
  }
  @include respond(tab-port) {
    grid-column: col-start 1 / col-start 12;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    width: 70%;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
    width: 70%;
  }
  p {
    font-size: 4.3rem;
    position: absolute;
    left: 10%;
    top: -20%;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    span {
      font-weight: 700;
      font-family: sans-serif;
    }
  }

  &__text {
    grid-column: col-start 4 / col-end 10;
    grid-row: 4 / 5;
    line-height: 2;
    font-size: 1.8rem;
    @include respond(tab-land-s) {
      grid-column: col-start 4 / col-end 11;
    }
    @include respond(tab-port) {
      font-size: 2.3rem;
      grid-column: col-start 6 / col-end 13;
    }
    @include respond(phone-vb) {
      grid-column: 1 / 2;
      text-align: center;
    }
    @include respond(phone-b) {
      grid-column: 1 / 2;
      text-align: center;
    }
    @include respond(phone-s) {
      grid-column: 1 / 2;
      text-align: center;
      padding: 0 3rem;
    }
    // @include respond(phone-vs) {
    //   text-align: center;
    //   padding: 0 3rem;
    // }
  }
}

//Slills

.skills__text {
  grid-column: col-start 4 / col-end 8;
  grid-row: 5 / 6;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  line-height: 2;
  letter-spacing: 1px;
  @include respond(tab-land-s) {
    grid-column: col-start 4 / col-end 9;
  }
  @include respond(tab-port) {
    grid-column: col-start 6 / col-end 14;
    font-size: 4rem;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    text-align: center;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
    text-align: center;
  }
  &--para {
    .span-1 {
      background-color: black;
      color: white;
    }
    .span-2 {
      background-color: #e0e0e0;
    }
    .span-3 {
      background-color: black;
      color: white;
    }
    .span-4 {
      background-color: #e0e0e0;
    }
    .span-5 {
      background-color: black;
      color: white;
    }
  }
  .button {
    text-decoration: none;
    border: 1px solid black;
    display: inline-block;
    margin-top: 3.3rem;
    font-size: 1.5rem;
    padding: 0.7rem 2.3rem;
    color: black;
    font-weight: 600;
  }
}

.second__img {
  grid-row: 6 / 7;
  grid-column: col-start 11 / -1;
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    text-align: center;
    width: 100%;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
    text-align: center;
    width: 100%;
  }

  .second__image {
    max-width: 55rem;
    max-height: 55rem;
    @include respond(tab-land) {
      max-width: 54rem;
      max-height: 54rem;
    }
    @include respond(phone-vb) {
      width: 85%;
      max-width: 100%;
      max-height: 130%;
      // object-fit: cover;
    }
    @include respond(phone-b) {
      width: 85%;
      max-width: 100%;
      max-height: 130%;
      // object-fit: cover;
    }
  }
}

//Get In Touch

.getInTouch {
  padding: 8rem 7rem;
  grid-row: 7 / 8;
  grid-column: col-start 3 / col-end 10;
  background-color: $color-navbar;
  width: 105%;
  @include respond(tab-port) {
    grid-column: col-start 5 / col-end 12;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    margin-top: -1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
    margin-top: -1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond(mobile) {
    padding: 8rem 1rem;
  }
  &__heading {
    h2 {
      font-size: 5rem;
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      @include respond(tab-port) {
        font-size: 6rem;
      }
      @include respond(phone-vb) {
        font-size: 5rem;
      }
      @include respond(phone-b) {
        font-size: 5rem;
      }
      @include respond(phone-s) {
        font-size: 4.2rem;
      }
      @include respond(phone-s) {
        font-size: 3.8rem;
      }
      @include respond(mobile) {
        font-size: 3.2rem;
      }
      span {
        font-weight: 900;
      }
    }
  }
  &__para-1 {
    font-size: 1.7rem;
    line-height: 1.9;
    margin-top: 3rem;
    @include respond(tab-land) {
      font-size: 2rem;
    }
    @include respond(mobile) {
      font-size: 2.1rem;
    }
  }
  &__para-2 {
    margin-top: 3rem;
    font-size: 1.7rem;
    line-height: 1.9;
    @include respond(tab-land) {
      font-size: 1.8rem;
    }
    @include respond(tab-port) {
      font-size: 2rem;
    }
    @include respond(mobile) {
      font-size: 2.1rem;
    }
  }

  position: relative;
  &__yellow {
    width: 10rem;
    background-color: yellow;
    position: absolute;
    left: 95%;
    height: 95%;
    @include respond(phone-vb) {
      height: 15%;
      width: 60%;
      left: 43.1%;
      top: -15%;
      z-index: 2;
    }
    @include respond(phone-b) {
      height: 15%;
      width: 60%;
      left: 43.1%;
      top: -15%;
      z-index: 2;
    }
    @include respond(phone-vb) {
      top: -10%;
    }
    @include respond(phone-b) {
      top: -10%;
    }
    @include respond(phone-b) {
      width: 70%;
      height: 12%;
      top: -8%;
      left: 30.1%;
    }
  }
}

//Client

.client {
  width: 120%;
  height: 40%;
  grid-row: 8 / 9;
  grid-column: col-start 1 / col-end 7;
  margin-top: 19rem;
  background-color: yellow;
  position: relative;
  @include respond(tab-land-s) {
    grid-column: col-start 1 / col-end 9;
  }
  @include respond(tab-port) {
    grid-column: col-start 1 / col-end 9;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    width: 70%;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    width: 70%;
    margin-top: 20rem;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
    width: 70%;
    margin-top: 20rem;
  }
  @include respond(mobile) {
    margin-top: 13rem;
  }

  p {
    font-size: 5rem;
    position: absolute;
    top: -42%;
    left: 10%;
    font-family: poppins;
    line-height: 1.1;
    span {
      font-family: poppins;
      font-weight: 700;
    }
  }
}

.investor {
  grid-row: 9/10;
  grid-column: col-start 2 / col-end 13;
  background-color: black;
  margin-top: -1rem;
  padding: 7rem 5rem 5rem;
  color: white;
  @include respond(tab-port) {
    margin-top: 1rem;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
    padding: 0;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
    padding: 0;
  }

  &__para {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 1.6rem;
    line-height: 2;
    @include respond(tab-port) {
      font-size: 2.1rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto 0;
    width: 100%;
    height: 100%;
    @include respond(phone-vb) {
      flex-wrap: wrap;
      height: auto;
      padding: 2rem;
      justify-content: stretch;
      gap: 3rem 8rem;
      justify-content: center;
    }

    @include respond(phone-b) {
      flex-wrap: wrap;
      height: auto;
      padding: 2rem;
      justify-content: stretch;
      gap: 3rem 8rem;
      justify-content: center;
    }

    .first-item {
      letter-spacing: 1.8px;
      font-size: 2rem;
    }
    .second-item {
      .cloud {
        width: 100%;
      }
    }
    .third-item {
      border: 1px solid white;
      padding: 2.7rem 2.7rem;
      font-size: 1.9rem;
      letter-spacing: 3px;
    }
    .fourth-item {
      font-size: 3rem;
    }
    .fifth-item {
      border: 1px solid white;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        top: 30%;
        left: -8%;
        z-index: 1;
        transform: rotate(-25deg);
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 5px;
        font-family: "Italianno", cursive;
        white-space: nowrap;
      }
    }
  }
}

//BLOGPOST

.blogPost {
  grid-row: 10 / 11;
  grid-column: col-start 1 / -1;
  width: 70%;
  margin: 4.5rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4.5rem;
  @include respond(tab-land) {
    width: 80%;
  }
  @include respond(tab-land-s) {
    width: 80%;
  }
  @include respond(tab-port) {
    width: 80%;
  }
  @include respond(phone-vb) {
    grid-column: 1 / 2;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
  }
  @include respond(phone-m) {
    width: 100%;
    padding: 0 2rem;
  }

  &__heading {
    text-align: center;
    font-size: 5.2rem;
    font-family: poppins;
    font-weight: 300;
    span {
      font-weight: 800;
    }
  }
  &__container {
    display: flex;
    gap: 2rem;
    @include respond(tab-land) {
      gap: 4rem;
    }
    @include respond(phone-vs) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.post {
  width: 30rem;
  height: 30rem;
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @include respond(tab-land) {
    width: 35rem;
    height: 35rem;
  }
  @include respond(phone-m) {
    width: 40rem;
    height: 35rem;
  }
  @include respond(phone-vs) {
    width: 43rem;
    height: 38rem;
  }
  &:hover &__name--heading {
    color: yellow;
  }
  &__date {
    margin: 2rem 0 16rem 2rem;
    font-size: 1.3rem;
    @include respond(phone-s) {
      font-size: 2rem;
      margin-bottom: 19rem;
    }
  }
  &__name {
    font-size: 2.3rem;
    border-bottom: 1px solid white;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    @include respond(phone-s) {
      font-size: 3rem;
    }

    &--heading {
      padding-left: 0.7rem;
      padding-bottom: 1rem;
    }
  }
  &__likes--list {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 0 2rem;
    list-style: none;
    @include respond(phone-s) {
      font-size: 2.2rem;
    }
  }
}

//SUBSCRIBE

.subscribe {
  grid-row: 11 / 12;
  grid-column: col-start 1 / -1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  margin-top: 10rem;
  padding: 10rem 0rem;
  margin-bottom: 7rem;
  @include respond(phone-vb) {
    grid-column: 1 / 2;
  }
  @include respond(phone-b) {
    grid-column: 1 / 2;
  }
  &__heading {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 800;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;

    .label {
      display: block;
      font-size: 1.8rem;
      span {
        color: yellow;
      }
    }
    input {
      display: block;
      width: 100%;
      padding: 1rem 0;
      background-color: black;
      border: 1px solid white;
      color: white;
    }
    .button {
      background-color: yellow;
      width: 100%;
      border: none;
      font-size: 1.9rem;
      font-family: cursive;
      font-weight: 500;
      padding: 0.5rem 0;
    }
  }
  &__copyright {
    font-size: 1.5rem;
  }
}
.button {
  &:link,
  &:visited {
    text-decoration: none;
    border: 1px solid black;
    margin-top: 3rem;
    padding: 1.4rem 5rem;
    display: inline-block;
    color: black;
    transition: all 0.3s;
    font-size: 1.8rem;
  }

  &:hover {
    background-color: black;
    color: white;
  }
}

.chatBox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 7rem;
  background-color: white;
  &__icon {
    position: fixed;
    bottom: 8rem;
    right: 1.6rem;
    color: white;
    background-color: black;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    cursor: pointer;
  }
}
